@using DataAccess.Data.Entities;
@model List<User>;

<h1>User Manage Panel</h1>

<a asp-action="CreateUser" class="btn btn-primary my-2">Create New User</a>
<a asp-action="CreatePost" class="btn btn-primary my-2">Create New Post</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NickName</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">RegistrationDate</th>
            <th scope="col">BirthdayDate</th>
            <th scope="col">Posts</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr class="align-middle">
                <th scope="row">@u.Id</th>
                <td>@u.NickName</td>
                <td>@u.FirstName @u.LastName</td>
                <td>@u.Email</td>
                <td>@u.Password</td>
                <td>@u.RegistrationDate.ToShortDateString()</td>
                <td>@u.BirthdayDate.ToShortDateString()</td>
                <td>
                    <a asp-action="ShowPosts" asp-route-id="@u.Id" class="btn btn-info">View Posts</a>
                </td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@u.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@u.Id" class="btn btn-danger">Delete</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>

<p class="text-center">Count: @Model.Count</p>